@charset "utf-8";
/* CSS Document */

.container {
	max-width:900px;
}

.form-signin {
	max-width:300px;
	margin-left: auto;
	margin-right: auto;
	margin-top:100px;
}
/*@media (min-width: 768px) {
  .navbar-brand {
    display: none;
  }
}*/
.footer {
  bottom: 0;
  margin-top:20px;
  padding:20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
 background:url(../images/pie.jpg);
}
.container .text-muted {
  margin: 20px 0;
}
#cargando{
  display:none;
  background:url(../images/loading.gif)no-repeat white;
  background-position:50%25%;
  opacity:0.6;
  z-index:1000;
  position:absolute;
  height:200%;
  width:100%;
  top:0;
  left:0;
}

.fondomenu{
  bottom: 0;
  margin-top:0px;
  padding:20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 270px;
background:url(../images/fondo-menu.jpg)no-repeat left top;  

}



/* port styling */
.available-magnet {
    fill: yellow;
}

/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}





#MYholder-link {
   left: 200px;    
   height: 300px;
   position: relative;
}
#myholder-link-out {
   width: 200px;
   height: 300px;
   position: absolute;
}




