{% extends "base.html" %}


{% block content %}
{% load url from future %}       

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center> Confirmacion de la accion</center></h2>

             
      </div>


    <div class="panel-body">

            <div class="row">

             <div class="col-md-12">
                <div class="thumbnail">                                    
                  <div class="caption">
                    <h4><center>SU ACcION FUE EXITOSA  </center></h4>  
                       <br>


                    <li><a href="/listado_cursos/mios">Ver los cursos donde estoy inscrito</a></li>
                    <li><a href="/listado_cursos/todos">Ver todos los cursos</a></li>

                    <li><a href="/principal">REGRESAR A LA PAGINA PRINCIPAL</a></li>
                    <li><a href="/accounts/login">Entrar como usuario registrado</a></li>
                    <li><a href="/entrada_mensaje/0">Regresar a las preguntas y respuestas</a></li>
                    <li><a href="/descargas">Regresar a la seccion de descargas</a></li>
                    <li><a href="/pcb">Regresar y seguir cotizando PCB</a></li>
                     <li><a href="/get_cart">Ver mi pedido</a></li>
                  </div>                  
                   

                
                  
                </div>
            </div>


          </div>

        </div>
  </div>







 
           

        

{% endblock %}


{ % extends "base.html" %}
{ % block content %}

{ % endblock %}




















                  

         
          







 