{% extends "base.html" %}


{% block content %}
{% load url from future %}


    

<div class="panel panel-info">
      <div class="panel-heading">
        <h2 class="panel-title"><center>INFORMACION DE INTERES </center></h2>             
      </div>

    <div class="panel-body">
            <div class="row">

             <div class="col-md-4">
                <div class="thumbnail"> 
                  <center> <a href=""><img src={{STATIC_URL}}logo.gif></a> </center>                                   
                  <div class="caption">


                    <h4><center>Sobre STOREMAN</center></h4>     
                  </div>                     
                  <p>StoreMan es una plataforma desarrollada para que vendedores y compradores puedan realizar transacciones comerciales, proporcionandole al vendedor un espacio virtual para que pueda mostrar sus productos de manera ordenada y al comprador una herramienta para realizar la mejor compra. </p>
                  <br>

                  <p>Es nesesario crear una cuenta con tu numero de Watsapp y una contrasena de 4 digitos, con esto ya puedes publicar articulos para vender de manera gratuita. </p>
                  <br>

                  <p>Tambien podras contactar con los vendedores para formalizar y realizar cualquier compra, este proceso ocurre sin intermediarios ademas comprador y vendedor ponenn las condiciones de pago y entrega, todo esto atravez del servicio de mendsajeria de watsapp. </p>
                  <br>
                                 
                                                    
                  
                                
                   
                  
                </div>
            </div>

<div class="col-md-4">
                <div class="thumbnail"> 
                         <h4><center>Comprar y pagar un plan o publicidad</center></h4>               
                  <div class="caption">
                   <br>               
                 <p>StoreMan ademas de proporcionar gratuitamente el servicio de alojamiento de productos tambien ofrece el servicio pagado de creacion de tienda online con carrito de compras incluido donde puedes organizar tus productos por categorias, ofertas y liquidaciones entre otras opciones.</p>
                   <br>
                  <center><a href=""><img src={{STATIC_URL}}planes.gif></a>    </center>  
                  <br>  
                  <p><a href="/contratar">CONTRATAR TIENDA ONLINE</a></p>                             

                  <br>
                 <p>Ademas puedes contratar un plan de publicidad con el cual puedes poner tu tienda o producto en los ojos de potenciales clientes interesados</p>
                  <br>
                  <center> <a href=""><img src={{STATIC_URL}}publicidad.gif></a> </center>
                  <br>
                  <p><a href="/contratar">CONTRATAR TIENDA ONLINE</a></p> 
                                                                      
                </div>
            </div>
</div>

<div class="col-md-4">
                <div class="thumbnail"> 
                <a href=""><img src={{STATIC_URL}}garantia.jpg></a>                                   
                  <div class="caption">
                    <h4><center>Responsabilidad y garantía</center></h4>     
                  </div>     
                   <br>                
                   <p>Garantizamos que tus productos estaran siempre listos y disponibles para que los compradores puedan adquirirlos, .  </p>
                      <br>
                     <p>Es responsabilidad de los ususarios el tipo de productos y transacciones que realizan con nuestra plataforma.</p>
                  <br>
                   
                                  
                </div>
            </div>
        

        </div>
  </div>
  </div>
        

{% endblock %}























                  

         
          







 