{% extends "base.html" %}

{% block content %}


 
  <div class="panel panel-info">
      <div class="panel-heading">
                
             <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><font size="4" color="black">Que quieres saber..</font></a><b class="caret"></b></a>
               
                  <ul class="dropdown-menu">
                    <li><a href="/informacion/">Como funciona</a></li>
                    <li><a href="/informacion/">Cuales son los planes de pago</a></li>
                    <li><a href="/informacion/">Que beneficios obtengo con un plan pagado</a></li>
                    <li><a href="/informacion/">Como funciona la publicidad</a></li>
                    <li><a href="/informacion/">Cuales son las formas de pago</a></li>
                                    
                  </ul>
            </li>
      

      </div>

    <div class="panel-body">   

            <div class="row">


            <div class="col-md-3">
                <div class="thumbnail">
                  <div class="caption">

                  
           
                  </div>                     
                </div>
            </div>

<div class="col-md-3">
                <div class="thumbnail">
                  <div class="caption">

                  
           
                  </div>                     
                </div>
            </div>


             <div class="col-md-3">
                <div class="thumbnail">
                  <div class="caption">
                          
                                            
                       
                  </div>                     
                </div>
            </div>

 <div class="col-md-3">
                <div class="thumbnail">
                  <div class="caption">

                                           
                             
                                                    
                       
                  </div>                     
                </div>
            </div>

            
          </div>

        </div>
</div>







 


{% endblock %}



